<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dt.hin.no"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Få med permission pga. bruk av JobIntentService -->
        <service
            android:enabled="true"
            android:name=".MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
        </service>
    </application>
</manifest>